extends layout

block body
  include navbar
  include createWaypointDialog
  
  div.contentArea.tab-content(id='mapCanvas')
    div.contents.map-control.tab-pane(id='azure')
    div.contents.map-control.tab-pane(id='google')
    // TODO: Here apparently supports canvas for hardware accel?
    div.contents.map-control.tab-pane(id='here')
    div.crosshair
      img(src='/images/crosshair.png')

block scripts
  script.
    trailMaps = window.trailMaps || {};
    trailMaps.configuration = trailMaps.configuration || {};
    trailMaps.configuration.defaultMapName = '#{defaultMapName}';
    trailMaps.configuration.defaultLatitude = #{defaultLatitude};
    trailMaps.configuration.defaultLongitude = #{defaultLongitude};
    trailMaps.configuration.defaultZoom = #{defaultZoom};
    trailMaps.configuration.googleApiKey = "#{googleApiKey}";
    trailMaps.configuration.hereApiId = "#{hereApiId}";
    trailMaps.configuration.hereApiCode = "#{hereApiCode}";

  //- ES6 Modules (native browser support)
  script(type='module' src='/js/maps.js')
